@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'robotoregular';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
b, strong {
	font-weight: bold;
}
.tweet_filter, .tweet_filter_bottom {
    max-width: 1366px;
    margin: 0 auto;
}
.tweet_filter_bottom .tweet_column {
    background: #f8f8f8;
    padding:10px;
}
.tweet-content {
    max-width: 1366px;
    margin: 0 auto;
}
h2.tweet_title {
    background: #00447c;
    padding: 10px 15px;
    color: #FFF;
    font-weight: 600;
    font-size: 19px;
    margin: 0 -15px 20px;
}
.feed_heading {
    font-size: 21px;
    font-weight: 300;
    line-height: 24px;
    color: #292F33;
    padding: 10px 0;
}
.tweet_filter_bottom .feed_heading {
    padding-left: 10px;
}
.timeline-Header-byline {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #657786;
}
.tweet_column {
    background: #eeeeee;
}
.tweet_content {
    margin-top: 0;
    margin-left: 0;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 5px;
}
.tweet_link {
    display: block;
}
.retweet_link {
    display: block;
}
.created_date {
    font-size: 13px;
    line-height: 18px;
    color: #8899a6;
    margin-bottom: 5px;
}
.tweet_link {
    font: normal normal 14px/1.4 Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;
    color: #292F33;
    line-height: 18px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 4px;
    text-decoration: none!important;
}
.tweet_link:hover {
    color: #2b7bb9;
}
.retweet_link {
    font: normal normal 14px/1.4 Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;
    color: #292F33;
    line-height: 18px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 4px;
    text-decoration: none!important;
}
.retweet_link:hover {
    color: #2b7bb9;
}
.tweet_single {
    background: #fff;
    border-top: 1px solid rgba(15,70,100,.12);
    padding: 10px;
}
.tweet_single:first-child {
    border: 0 none;
}
.tweet_single:hover {
    background-color: rgba(160,200,220,.12);
}
.tweet-overflow {
    max-height: 800px;
    overflow-y: auto;
}
.tweet_img {
    width: 100%;
    display: block;
}
/*Tweet Form*/

.filter_form fieldset {
    border: 1px solid #eaeaea;
    padding: 0 0 6px;
    border-radius: 0;
    margin-bottom: 20px;
    border-top: 3px solid #00447c;
    border-radius: 4px;
    background: #f8f8f8;
}
.filter_form h3 {
    margin: 0 0 15px 0;
    background: #E2E5EF;
    font-size: 21px;
    font-weight: 300;
    line-height: 24px;
    color: #292F33;
    padding: 6px 13px;
}
.filter_form .form-group {
    margin-bottom: 8px;
    min-height: 25px;
}
.filter_form .col-lg-6 .form-group label {
    width: 145px;
}
.filter_form .form-group label {
    width: 233px;
    text-align: right;
    float: left;
    padding-right: 15px;
    margin: 5px 0 2px 0;
}
.filter_form .tweet_filter_bottom .form-group label {
    width: 115px;
}
.aestrick {
    color: #f70f2b;
}
.filter_form input[type=url],
.filter_form input[type=text],
.filter_form select,
.filter_form input[type=number],
.filter_form input[type=email] {
    border-radius: 0;
    box-shadow: 0 0 0 transparent !important;
    height: 24px !important;
    padding: 3px 2px;
    max-width: 170px;
    font: 400 13.3333px Arial;
    color: #000;
    border: 1px solid #A8A8A8;
    width: 49%;
    box-shadow: 0 0 0 transparent;
}
.form-buttons {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    min-height: 26px;
}

.form-buttons button, .form-buttons .btn {
    padding: 4px 3px;
    border: 1px solid #b5b5b5;
    border-bottom-color: #7f7f7f;
    background: #e8e8e9 url(../images/btn_sprite.png) repeat-x right top;
    font-weight: bold;
    font-size: 13px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 5px;
    font-family: Arial,Helvetica,sans-serif;
    color: #333!important;
    cursor: pointer;
}
.form-buttons .btn { 
    padding: 2px 3px;
}
.form-buttons button:hover {
    background-position: right -30px;
}
.filter_form label {
    margin-bottom: 2px;
    margin-left: 0;
    color: #4a4a56;
    font-weight: bold;
    font-size: 13px;
    font-family: Arial,Helvetica,sans-serif;
}
.customisable-highlight {
    color: #007bff!important;
}
.tweet_filter_bottom .tweet_column {
    border: 0 none;
}
#sorting .tweet_column {
      float: left;
    }
.tweet_filter_bottom {
    max-width: 1426px;
}
#sorting {
    padding: 0 15px;
    clear: both;
    overflow: hidden;
}